html, body {
    height: 100%;
}

.form-container {
    z-index: 1;
    position: relative;
}

.form-container {
    max-width: 350px;
    padding: 1rem;
}

.logo-text{
    font-size: 35px;
    color: #ffffff;
    margin-bottom: 20px;
}

.custom-btn {
    background-color: #7e33b7; 
    border-color: #7e33b7; 
    color: #ffffff; 
}

.custom-input {
    background-color: #7251a1;
    border: 2px solid #7251a1; 
    border-radius: 10px; 
    color: #ffffff; 
}

.bg-custom {
    background-color: #404040; /* Ou outra cor desejada */
    border-radius: 10px; /* Raio de arredondamento das bordas */
    padding: 15px; /* Espaçamento interno */
    max-width: 800px; /* Largura máxima do contêiner */
    margin: auto; /* Centralizar o contêiner horizontalmente */
    display: flex;
    justify-content: space-between;
}

.left-container,
.right-container {
    flex: 1; /* Para dividir o espaço igualmente entre a imagem e o formulário */
}

.image {
    width: 200%; /* Ajuste para aumentar a largura da imagem */
    max-width: 200px; /* Defina um tamanho máximo se necessário */
    border-radius: 10px; /* Ajuste conforme necessário */
    margin-left: 100px; /* Ajuste para mover a imagem mais para a direita */
}

.form-container {
    z-index: 1;
    position: relative;
    margin-left: 20px; /* Ajuste conforme necessário para o espaçamento entre a imagem e o formulário */
}








